.advances {
  min-height: 828px;

  @media (min-width: 660px) {
    max-width: 620px;
    text-align: center;
    margin: 0 auto;
  }
}

.advances__text {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  padding-top: 46px;
  margin: 0 auto;
}

.advances__list {
  list-style: none;
  margin: 0 auto;
  padding-top: 119px;
  padding-left: 0;
  padding-right: 0;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 109%;
  padding-bottom: 320px;
}

.advances__list-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.advances__list-item p {
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}
