.advances {
  min-height: 828px;
}

.advances p {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}

.advances__list {
  list-style: none;
  width: 320px;
  padding-top: 130px;
  padding-left: 0;
  padding-right: 0;
}

.advances__list-item h3 {
  font-size: 18px;
  font-weight: 7s;
  line-height: 24px;
}

.advances__list-item p {
  font-size: 14px;
  font-weight: 400;
}
