.app-info {
  background-color: #17212d;
  min-width: 320px;

  @media (min-width: 660px) {
    min-width: 620px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    min-height: 729px;
    margin: 0 auto;
  }
}

.app-info__title {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  min-width: 320px;
  min-height: 462px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;


  @media (min-width: 660px) {
    max-width: 620px;
    font-size: 40px;
    width: 190px;
    background-image: none;
    padding-top: 213px;
  }
}

.app-info__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 35px;
  min-width: 320px;
  margin: 0 auto;
}

.app-info a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.app-info__download-button {
  border: 3px solid #ffffff;
  padding: 15px 35px;
  border-radius: 50px;
  margin-bottom: 40px;
}

.app-info__store {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-right: 42px;
  margin-left: 39px;
  margin-top: 40px;
  min-width: 320px;
}

.app-info__download {
  @media (min-width: 660px) {
    width: 300px;
    padding-bottom: 112px;
  }
}
