.app-info {
  background-color: #17212d;

}

.app-info__title {
  font-size: 24px;
  line-height: 48px;
  color: white;
  font-weight: 300;
  margin: 0;
}

.app-info__text {
  font-size: 14px;
  line-height: 24px;
  color: white;

}

.app-info a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;

}

.app-info__store {
  list-style: none;
  padding: 0;
}


