.company-info__heading {
  font-size: 24px;
  font-weight: 300;
}

.company-info__item {
  font-size: 18px;
  font-weight: 700;
}

.company-info__link {
  font-size: 24px;
  color: #d22856;
  text-decoration: none;
}
