.feedback__user {
  list-style: none;
  padding: 0;
}

.feedback__user-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.feedback__user-comment {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}
