.main-nav {
  align-items: center;
  justify-content: center;

  @media (min-width: 660px) {
    max-width: 620px;
  }

  @media (min-width: 960px) {
    display: flex;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 980px) {
    display: flex;
  }
}

.main-nav__wrapper {
  min-width: 320px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: 660px) {
    max-width: 620px;
  }

  @media (min-width: 980px) {
    width: 147px;
    margin: 0;
  }
}

.main-nav__toggle {
  @media (min-width: 980px) {
    display: none;
  }
}
