.personal-details__item {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.personal-details__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}
