.photo-editor__photo {
  margin: 20px 20px;
}

.photo-setting,
.share-option {
  background-color: #f2f2f2;
}

.photo-setting__item--active {
  border: none;
}

.photo-setting__item--active svg {
  fill: #d22856;
}

.photo-setting__item {
  border: none;
}
