.share-option__share {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 30px;
  width: 280px;
  min-height: 55px;
  margin-bottom: 12px;
}

.share-option__cancel {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 30px;
  width: 280px;
  min-height: 55px;
  margin-bottom: 41px;
}
