.site-list__item a {
  color: #ffffff;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  text-align: center;
}

.site-list__item {
  @media (min-width: 980px) {
    margin-left: 82px;
  }
}
